extends header_user

block content
	div(id="wrapper")
		div(id="sidebar-wrapper")
			ul(class="sidebar-nav")
				li
					a(href="/user/account") Account
				li
					a(href="/user/upload") Submit a New Job
				li
					a(href="/user/previous") View Your Previous Submissions
				li
					a(href="/logout") Logout

		div(id="page-content-wrapper")
			div(class="container-fluid")
				div(class="row")
					div(class="col-lg-12")
						a(href="#" class="btn btn-success" id="menu-toggle") =
						h1 Sidebar layouts are cool
						p1 I love apple
						p1 Username: #{user.profile.name}
						p1 email: #{user.email}
						p1 facebook: #{user.facebook}
						p1 google: #{user.google}
						p1 twitter: #{user.twitter}
						

	script.
		$("#menu-toggle").click( function (e){
			e.preventDefault();
			$("#wrapper").toggleClass("menuDisplayed");
		});
